

.chartColumn{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.chartSelect{
    width: 15Containerrem !important;
    margin: .5rem 0 !important;
}

@media (max-width: 770px) {
    .chartColumn{
        margin-bottom: 10px;
    }
    .chartColumnSmall{
        width: 20rem !important;
    }
    .rowSmall{
        width: 20rem !important;
    
    }
    .containerSmall{
        width: 20rem !important;
    }
}